* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #12192B;
    margin:0;
}





header{
    background-color: #20293A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


a, h3, h1,h2,p,h4 {
    color: #e6e7ec;
}

/* Menú de la dreta */
.menu{
    display: flex;
    gap: 25px;
    margin-right: 10px;
    margin-bottom:0px;
}

/* Items menú */
.menu li {
    flex: auto;
    list-style-type: none;
    /*border: solid red; */

}

.menu li a{
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 5px 8px 5px 8px;
   /* border: solid rgb(0, 134, 251); */

}

a {
    text-decoration: none; /* Elimina el subrayado */
}



.menu li a:hover {
    border-radius: 5px; /* Opcional: hace que los bordes sean redondeados */
    background-color: #545f72; /* Opcional: un fondo gris claro al pasar el cursor */
}

/* Miniatures pelicules */
.peliculas-principal, .series-principal {
display:flex;
gap: 5px;
flex-wrap: wrap;
justify-content: center;
}


.peliculas-principal, .series-principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Distribuye los elementos dinámicamente */
    gap: 10px; /* Espacio entre elementos */
    justify-content: space-around; /* Hace que la primera fila ocupe todo el espacio */
   /* border: solid red;
} 



.miniatura-pelicula, .miniatura-serie {
    width:150px;
    flex: 0 0 1; 
    /*border: solid red; */

}

img {
    border-radius: 10px;
}



.actores {
    display: flex;
    gap: 20px;
    text-align: center;
}



.actor {
    flex: 1;
}



/* Secció lo más visto   */
.lo-mas-visto {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content:center;


}
#lomasvisto {
    padding-top: 5px;
    padding-left:15px;
    padding-bottom:15px;
    background-color: #20293A;
}

.lo-mas-visto article {
    position: relative;
    flex: 0 1 1;
}

  

/* Estilos para los números */
.lo-mas-visto article span {
    position: absolute;
    top: 10px; /* Ajusta para cambiar la posición vertical */
    left: 10px; /* Ajusta para cambiar la posición horizontal */
    font-size: 25px; /* Tamaño del número */
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para que el número destaque */
    padding: 5px 10px;
    border-radius: 5px; /* Bordes redondeados */
    z-index: 2; /* Asegura que el número esté sobre la imagen */

}



/* Efecto al pasar el cursor por poster más visto */
.poster-masvisto:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen un */
    cursor: pointer; /* Cambia el cursor a "mano" */
}


/*
.miniatura-serie {
    flex: 1;
}
*/

/*
.block-2 {
    display:flex;
}
#festivales {
    background-color: #20293A;
    width: 30%;
}

*/

/* Títol de miniatures */
.thumb-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color:white;
    padding-top:8px;
}

.miniatura-pelicula h5 {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que exceda el ancho */
    text-overflow: ellipsis; /* Agrega los puntos suspensivos si el texto es largo */
    margin: 0; /* Opcional, para evitar margen extra */
}


/* Subtítol miniatures pelis*/
.thumb-subtitle {
    margin-top: 0px;
    margin-bottom: 20px; 
    color:white;
    font-weight: 100;


}




/* Efecte hover al passar per sobre els posters*/

  .poster-pelicula, .poster-serie {
    width: 150px; /* o el tamaño que desees */
    transition: transform 0.3s ease; /* Transición suave */
  }
  .poster-pelicula:hover, .poster-serie:hover {
    transform: scale(1.06); /* Aumenta el tamaño de la imagen un 10% */
    cursor: pointer; /* Cambia el cursor a "mano" */
  }

  .actor img {
    transition: transform 0.3s ease; /* Transición suave */
   
  }

  .actor img:hover {
    transform: scale(1.06); /* Aumenta el tamaño de la imagen un 10% */
    cursor: pointer; /* Cambia el cursor a "mano" */


  }

/* Darse de alta */
form {
    color:white;
    padding: 10px;
   
}

.alta {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

/*
.sign-up {
    display: flex;
    flex-direction: column;
    align-items:center;
}
    */

.form-row {
    flex: 1;
   
}

/* General styles for the form container */
.sign-up {
    width: 400px; /* Ajusta el ancho del formulario */
    margin: 100px auto; /* Centra el formulario en la página */
    padding: 20px;
    background-color: #394b59; /* Fondo gris oscuro */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  /* Título del formulario */
  .form-title h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  /* Cada fila del formulario */
  .form-row {
    margin-bottom: 15px; /* Espaciado entre filas */
  }
  
  /* Estilo de las etiquetas */
  .form-row label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: bold;
  }
  
  /* Estilo de los inputs */
  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row input[type="password"],
  .form-row input[type="input"] {
    width: 100%; /* Ocupan todo el ancho disponible */
    padding: 10px;
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #e5eff5; /* Fondo gris claro */
    color: black; /* Texto oscuro */
    box-sizing: border-box; /* Asegura que el padding no expanda el input */
  }
  
  /* Checkbox y su texto */
  .form-row input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-row label[for="checkbox"] {
    display: inline-block;
    font-size: 0.85em;
  }
  
  /* Botón de envío */
  .form-row input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4F46E5; /* Color Sign Up */
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-row input[type="submit"]:hover {
    background-color: #1aa01a; /* Oscurece el botón al pasar el cursor */
  }
  








  


/* Disposicio pagina detall pelicula */
.header-detail {
display: flex;
}

.details h1 {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0;
}

/* Footer  */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #545f72;
  margin:0;
  padding: 10px;
}
.rss {
    padding-top: 10px;
   
}


.movie-details {

    padding: 25px;
}


.details {
    padding-left:25px;
    padding-top:0;
    padding-right:20px;
}


.main-movie-details {
    background: #12192B url('src/TheGodfatherBackdropGrade.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.movie-details {
    background: rgba(18, 25, 43, 0.9); /* Para oscurecer el fondo */

}

/*

.main-header {
    background: #12192B url('src/TheGodfatherBackdrop.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;


}

.header-detail {
    background: rgba(18, 25, 43, 0.9); 
}

*/

.rss img {
    transition: opacity 0.3s ease;
    padding: 3px;
}

.twitter, .facebook, .instagram, .youtube {
    transition: opacity 0.3s ease;
}

.twitter:hover {
    content: url('src/twitter-logo2.png'); /* Cambia la imagen al pasar el cursor */
    cursor: pointer;
}
.facebook:hover {
    content: url('src/facebook-logo2.png'); /* Cambia la imagen al pasar el cursor */
    cursor: pointer;
}

.instagram:hover {
    content: url('src/instagram-logo2.png'); /* Cambia la imagen al pasar el cursor */
    cursor: pointer;
}
.youtube:hover {
    content: url('src/youtube-logo2.png'); /* Cambia la imagen al pasar el cursor */
    cursor: pointer;
}

.main-content-home {
    padding-left:20px;
    padding-bottom: 20px;
}

/* Aplica estilo al contenedor principal */
.studios-main {
    display: flex; /* Coloca los artículos en fila */
    flex-wrap: wrap; /* Permite que los elementos bajen si no hay espacio */
    gap: 20px; /* Espaciado entre los artículos */
    justify-content: flex-start; /* Centra el contenido horizontalmente */
}

/* Estilo para cada artículo */
.studios-main article {
    width: 300px; /* Ancho fijo para cada rectángulo */
    height: 150px; /* Altura fija para cada rectángulo */
    background-color: #1F2937; /* Fondo para los rectángulos */
    display: flex; /* Hace que el contenido se centre */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    border: 1px solid #353F4F; /* Borde opcional */
    border-radius: 15px; /* Esquinas redondeadas opcionales */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

/* Estilo para las imágenes */
.studios-main img {
    max-width: 60%; /* Escala la imagen para que se ajuste horizontalmente */
    max-height: 60%; /* Escala la imagen para que se ajuste verticalmente */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

.studios-main article:hover {
    cursor: pointer;
    transform: scale(1.06); /* Aumenta el tamaño de la imagen un 10% */
    background-color: #353F4F; /* Cambia el clor al hacer hover */


}

.movie-section-text a:hover {
    color:#ffffff ;
}


.miniatura-pelicula h6, .miniatura-serie h6 {
    padding-top:5px;

}



/* Detall pelicula Cast  */

.cast {
    margin-top: 20px;
}

.cast h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cast-list {
    display: flex;
    gap: 30px;
}

.cast-member {
    text-align: center;
}

.cast-member img {
    width: 80px; /* Ancho del contenedor */
    height: 80px; /* Alto del contenedor */
    border-radius: 50%; /* Convierte el contenedor en un círculo */
    object-fit: cover; /* Ajusta la imagen dentro del círculo sin deformarla */
}

.cast-member p {
    margin: 5px 0;
}

.role {
    font-size: 14px;
    color: #b0b0b0;
}

.poster-pelicula, .poster-serie {
    width:150px;
}

.poster-masvisto img {
    width:100px;
}

.country img {
    width:20px;
    border-radius: 0;
}

nav ul li a {
    font-weight: 800;
}

.empty-space {
    width:350px;
}

